name: msys2-CI
on: push

permissions:
  contents: read

jobs:
  push-CI:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install Dependencies
      uses: msys2/setup-msys2@v2
      with:
        msystem: CLANG64
        install: >-
          git
          mingw-w64-clang-x86_64-meson
          mingw-w64-clang-x86_64-cc
          mingw-w64-clang-x86_64-ninja
    - name: Configure and build
      run: |
        echo "Runnning in msys2"
        mkdir -p build/windows-clang64
        pushd build/windows-clang64
        meson ../..
        ninja -v
        touch ../../src/util/u_qsort.cpp
        ninja -v # error happend
